.form {
  border: none;
  display: grid;
  width: 100%;
}

.form__title {
  font-size: 24px;
  font-weight: bold;
  color: #000;
  margin: 0;
}

.form__input {
  font-size: 14px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  width: 100%;
  height: 30px;
}

.form__input:focus {
  outline: none;
}

.form__name-error, .form__description-error, .form__post-title-error, .form__link-error {
  display: hidden;
  color: #FF0000;
  font-size: 12px;
  height: fit-content;
  margin-top: -25px;
}

.form__input_type_error {
  border-bottom: 1px solid red;
}

.form__input_error_active {
  display: block;
}

.form__submit {
  width: 358px;
  height: 50px;
  border: none;
  border-radius: 2px;
  background-color: #000;
  color: white;
  align-self: end;
  justify-self: center;
}

.form__submit_inactive {
  color: rgba(0, 0, 0, .2);
  border: 1px solid rgba(0, 0, 0, .2);
  background: rgba(0, 0, 0, .2);
}

.form__submit:hover {
  opacity: .8;
  cursor: pointer;
}

@media screen and (max-width: 720px) {
  .form__title {
    font-size: 18px;
  }

  .form__input {
    width: 100%;
  }

  .form__submit {
    width: 100%;
  }
}