.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 17px 20px;
  justify-content: space-between;
  margin: 0 auto;
  width: fit-content;
}

.gallery__card {
  width: 100%;
  height: auto;
  border-radius: 10px;
  background-color: #FFF;
}

.gallery__card > div {
  display: flex;
  flex-direction: row;
  justify-self: flex-end;
  justify-content: space-between;
  padding: 15px 15px 20px 0;
}


@media screen and (max-width: 720px) {
  .gallery {
    grid-template-columns: 250px;
    margin: 0 auto;
  }
}