.popup {
  display: grid;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-45%, -50%);
  z-index: 1;
}

.popup_invisible {
  display: none;
}

.popup__close-button {
  rotate: 45deg;
  font-size: 50px;
  width: 40px;
  height: 40px;
  color: #fff;
  grid-column-start: 2;
}

.popup__close-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.popup__edit-form {
  display: flex;
  width: 430px;
  height: 330px;
  border-radius: 10px;
  background-color: #fff;
  padding: 34px 36px 36px;
}

@media screen and (max-width: 720px) {
  .popup {
    top: 15%;
  }
  .popup__edit-form {
    max-width: 282px;
    height: 322px;
    padding: 25px 22px;
  }
}
